<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Calculadora</title>
</head>
<body>
<h2>>
Seleccione el calculo a realizar
</h2>

<ul>
	<li><a href="calculoSuma?num1=20&num2=10">suma</a></li>
	<li><a href="calculoMultiplica?num1=10&num2=10">multiplica</li>
	<li><a href="calculoDivide?num1=10&num2=5">division</li>
	<li><a href="calculoResta?num1=123&num2=23">resta</li>
	<li><a href="calculoPotencia?num1=10&num2=2">potencia</li>
	<li><a href="calculoRaiz?num1=4">raiz</li>

</ul>

</body>
</html>